page-login {
    .scroll-content{
        background: url("../../assets/imgs/fundo.jpg") no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
        
        //filter: blur(3px);
    
    }
}
